<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_sosi_ai_core_root"
              name="SOSI AI Core"
              web_icon="sosi_ai_core,static/description/icon.png"
              sequence="120"/>

    <menuitem id="menu_ai_knowledge_source"
              name="AI Knowledge Sources"
              parent="menu_sosi_ai_core_root"
              action="action_ai_knowledge_source"
              sequence="10"/>

    <menuitem id="menu_ai_question_log"
              name="AI Question Log"
              parent="menu_sosi_ai_core_root"
              action="action_ai_question_log"
              sequence="20"/>

    <menuitem id="menu_ai_model_registry"
              name="AI Model Registry"
              parent="menu_sosi_ai_core_root"
              action="action_ai_model_registry"
              sequence="30"/>
</odoo>
